<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – EventPlanning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<style type="text/css">
		#left {
			position: absolute;
			left: 10%;
			top: 0;
			width: 50%;
		}

		#right {
			position: absolute;
			right: -10%;
			top: 0;
			width: 50%;
		} 
	</style>
	<script>
		function addNewEventField(element) {
			var fieldName = document.createElement('input');
			var fieldDescription = document.createElement('input');
			var deleteButton = document.createElement('button');
			fieldName.type = 'text';
			fieldName.name = 'fieldName';
			fieldName.className = 'form - control';
			fieldDescription.name = 'fieldText';
			fieldDescription.type = 'text';
			fieldDescription.className = 'form-control';
			deleteButton.className = 'btn';
			deleteButton.type = 'button';
			deleteButton.setAttribute('onclick', "deleteEventField(this)");
			deleteButton.textContent = 'Delete field';
			form.insertBefore(fieldName, add);
			form.insertBefore(fieldDescription, add);
			form.insertBefore(deleteButton, add);
		}
		function deleteEventField(element) {
			var numberOfDeleteButton = Array.prototype.indexOf.call(form.children, element);
			for (var i = numberOfDeleteButton; i >= numberOfDeleteButton - 2; i--)
			{
				var removedChild = form.children[i];
				form.removeChild(removedChild);
			}
		}
	</script>
</head>
<body>

    <div class="panel-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
